<div class="message">
<h2>This post is part of my <a href="/post/2022/11/27/APFS-Advent-Challenge-2022">2022 APFS Advent Challenge</a></h2>
<p>
      Every day between December 1st and 24th of this year, I will attempt to post a blog about APFS internals.  For each day that I miss a post, I will donate $100 to support humanitarian aid for Ukrainian citizens.  If you find value in this series, and would like to support this effort, please consider <a href="https://www.gofundme.com/f/ukraine-humanitarian-fund">donating to the GoFundMe</a>. 
      Slava Ukraini! 🇺🇦
</p>
</div>